{% extends 'base.html' %}

{% block content %}
<h2>Створення Новин <a href="{% url 'news-page' %}" class="btn btn-outline-light" id="back-to-main">&leftarrow;</a> </h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!--{{ form }}-->
  
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    {{ form.title }}

    <label for="content" class="form-label">Content:</label>
    {{ form.content }}

    <label for="picture" class="form-label gap-2">Picture:</label>
    {{ form.picture }}
    
    <img id="the-picture" class="rounded mx-auto d-block" width="500px">
    
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" class="btn custom-style-primary-btn">Зберегти новину</button>
    </div>
  
  </div>
</form>
{% endblock %}