{% extends 'base.html' %}

{% block content %}
<!-- Резюме сторінка -->
<div class="container mt-5" style="border: 1px solid lightgray; box-shadow: 0.30rem 0.3rem 0.2rem rgba(0, 0, 0, 0.1); border-radius: 15px;">
    <h2>Редактор резюме <a href="/" class="btn btn-outline-light" id="back-to-main">&leftarrow;</a></h2>
    <form method="post" novalidate enctype="multipart/form-data">
        <!-- Форма для резюме -->
        {% csrf_token %}
        
        <div class="col-md-4">
            <label for="user_picture">User picture</label>
            {{ form.user_picture }}
            <img id="the-picture" class="rounded mx-auto d-block" width="200px">
        </div>


        <div class="row g-3 mb-3">
                
            <!-- Заголовок, ім'я та прізвище -->
            <div class="col-md-4">
                <label for="title" class="form-label">Title</label>
                {{ form.title }}
            </div>
            <div class="col-md-4">
                <label for="first-name" class="form-label">First Name</label>
                <input type="text" id="first_name" name="first_name" class="form-control" aria-label="Disabled input example" value="{{ request.user.first_name }}" disabled readonly>
            </div>
        
            <div class="col-md-4">
                <label for="last-name" class="form-label">Surname</label>
                <input type="text" id="last_name" name="last_name" class="form-control" aria-label="Disabled input example" value="{{ request.user.last_name }}" disabled readonly>
            </div>
        
        </div>

        <div class="row">
            <!-- Ліва колонка -->
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    {{ form.phone }}
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" id="email" name="email" class="form-control" aria-label="Disabled input example" value="{{ request.user.email }}" disabled readonly>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    {{ form.address }}
                </div>
                <div class="mb-3">
                    <label for="language" class="form-label">Languages</label>
                    {{ form.language }}
                </div>
                <div class="mb-3">
                    <label for="skills" class="form-label">Skills</label>
                    {{ form.skills }}
                </div>
            </div>

            <!-- Права колонка -->
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="content" class="form-label">Meta</label>
                    {{ form.meta }}
                </div>
                <div class="mb-3">
                    <label for="education" class="form-label">Education</label>
                    {{ form.education }}
                </div>
                <div class="mb-3">
                    <label for="job-experience" class="form-label">Job Experience</label>
                    {{ form.job_exp }}
                </div>
                <div class="mb-3">
                    <label for="addition-information" class="form-label">Addition information</label>
                    {{ form.add_information }}
                </div>
            </div>
        </div>
        
        <div class="d-grid mt-4">
            <button type="submit" class="btn custom-style-success-btn btn-lg">Зберегти резюме</button>
            {% if form.error %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
        </div>
        
    </form>
</div>
{% endblock %}