{% extends 'base.html' %}

{% load static %}
{% block content %}
   <!-- Головна сторінка -->
    <h2 style="text-align: center;">Ласкаво просимо до Резюме Билдер!</h2>
    <p style="text-align: center;">
        Цей сайт допоможе вам створити професійне резюме за кілька хвилин.
    </p>

    <!-- Посилання на створення резюме -->
    <div class="text-center mt-4">
        <a href="{% url 'create_resume' %}" class="btn btn-primary" id="create-resume-btn">Створити резюме</a>
    </div>

    <!-- Список готових резюме-->
    <h3>Ваші резюме:</h3>
    <ul class="list-group">
        {% for resume in resumes %}
            <li class="list-group-item">
                <a href="{% url 'resume' resume.id %}">{{ resume.title }}</a>
                <span class="badge bg-secondary">
                    {{ resume.created_at }}
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">У вас немає жодного резюме.</li>
        {% endfor %}
    </ul>

    <hr>

    <!-- News on the one line -->
    <h3>Новини</h3>
    <ul class="list-group">
        {% for news in news_list %}
            <li class="list-group-item">
                <a href="{% url 'news' news.id %}">{{ news.title }}</a>
                <span class="badge bg-secondary">
                    {{ news.created_at }}
                </span>
            </li>
        {% empty %}
            <li class="list-group-item">
                Нема новин
            </li>
        {% endfor %}
    </ul>
{% endblock %}