{% extends 'base.html' %}

{% load static %}
{% block content %}
<!-- Головна сторінка -->
 <h2 style="text-align: center;">Ласкаво просимо до Резюме Билдер!</h2>
 <p style="text-align: center;">
     Цей сайт допоможе вам створити професійне резюме за кілька хвилин.
 </p>
 <!-- Посилання на створення резюме -->
 <div class="text-center mt-4">
    <a href="{% url 'create_resume' %}" class="btn" id="custom-style-primary-btn">Створити резюме</a>
 </div>


<div class="box-resume">
    <!-- Резюме -->
    <h3>Ваші резюме</h3>
    <section class="resumes">
        <div class="container">
            <div class="vertical-scrolling" style="overflow-y: scroll; overflow-x: hidden; height: 500px;">
                {% for resume in resumes %}
                {% if resume.user == request.user %}
                <div class="card">
                    <div class="card-header">
                        Featured
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ resume.title }}</h5>
                        <p class="card-text">{{ resume.meta|truncatechars:100 }}</p>
                        <a href="{% url 'resume' resume.id %}" id="custom-style-primary-btn" class="btn">View</a>
                        <div class="drropdown">
                            <button class="btn dropdown-toggle" id="custom-style-btn-dropdown"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'download_resume' resume.id %}">Download Resume</a></li>
                                <li><a class="dropdown-item" href="{% url 'copy-resume' resume.id %}">Copy Resume</a></li>
                                <li><a class="dropdown-item" href="{% url 'edit_resume' resume.id %}">Edit Resume</a></li>
                                <li><a class="dropdown-item" href="{% url 'delete_resume' resume.id %}" onclick="return confirm('Are you sure you want to delete this resume?')">Delete Resume</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% empty %}
                    <p>У вас ще немає резюме</p>
                {% endfor %}
            </div>
        </div>
    </section>
 </div>


 <div class="other-resume">
    <h3>Резюме інших користувачів</h3>
    <section class="other-resume-section">
        <div class="container">
            <div class="vertical-scrolling" style="overflow-y: scroll; overflow-x: hidden; height: 400px;">
                {% for resume in other_resume %}
                    {% if resume.user == request.user %}
                        {{ empty }}
                    {% else %}
                        <div class="card">
                            <div class="card-header">
                                {{ resume.user.username }}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ resume.title }}</h5>
                                <p class="card-text">{{ resume.meta|truncatechars:100 }}</p>
                                <a href="{% url 'resume' resume.id %}" id="custom-style-primary-btn" class="btn">View</a>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<div class="box-news">
    <!-- News on the one line -->
    <h3>Новини</h3>
    <section class="news">
        <div class="slide-line">
            {% for news in news_list %}
            <div class="slide-card">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{  news.content|truncatechars:30 }}</p>
                        <a href="{% url 'news' news.id %}" id="custom-style-primary-btn" class="btn card-link">Читати далі</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock %}