{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="vertical-scrolling" style="overflow-y: scroll; overflow-x: hidden; height: 1000px;">
        {% for new in news %}
            <div class="card w-75 mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ new.title }}</h5>
                    <p class="card-text">{{ new.content|truncatechars:100 }}</p>
                    <a href="{% url 'news' new.id %}" class="btn btn-primary">Reading</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}