{% extends "base.html" %}
{% block content %}
<style>
    .title {
        font-size: 24px;
        text-align: center;
    }
    .content {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .under-line {
        position: relative;
        top: 312px;
    }
    .comment {
        position: relative;
        top: 312px;
    }
</style>



<h2>News</h2>

<div class="title">{{ news.title }}</div>
<hr>
<p class="content">
    <span>
        {{ news.content }}
    </span>
    <span id="show-picture">
        <div class="text-center">
            {% if news.picture %}
                <img src="{{ news.picture.url }}" class="rounded" alt="">
            {% endif %}
        </div>
    </span>
</p>

<hr class="under-line">

<div class="comment">
    <button id="openModal"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="Model" data-bs-whatever="comment">Add comment</button>
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            
            <div class="modal-content">
                
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="ModalLabel">New Comment</h1>
                    <button id="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
            
                <div class="modal-body">
                    <form id="form">
                        {% csrf_token %}
                        <input type="hidden" id="new-id" value="{{ news.id }}"/>
                        <div class="mb-3">
                            <label for="comment-text" class="col-form-label">Comment:</label>
                            <textarea class="form-control" id="comment-text"></textarea>
                        </div>
                    </form>
                </div>
                
                <div class="modal-footer">
                    <button type="button" id="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="send-comment">Send comment</button>
                </div>
            
            </div>
        </div>
    </div>

    <div class="show-comments mt-4" id="comments">
        {% for comment in comments %}
            <p>
                <strong>{{ comment.username.username }}</strong> ({{ comment.created_at }}): {{ comment.text }} 
            </p>
        {% endfor %}
        <hr>
    </div>
</div>
{% endblock %}