{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .row {
    margin-bottom: 20px;
  }

  .form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-label + .form-label {
    margin-top: 10px;
  }

  .col-md-4, .col-md-8 {
    padding: 15px;
  }

  .col-md-4 {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6 transparent;
  }
</style>

<!-- Сторінка резюме -->
<div class="container mt-5">
    <div class="row mb-3">
        <!-- give from db first name and last name -->
        <h2 class="form-label">{{ resume.title}} - {{ user.first_name }} {{ user.last_name }}</h2>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <label class="form-label">{{ resume.phone }}</label>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <label class="form-label">{{ resume.address }}</label>
            </div>
            <div class="mb-3">
                <label for="language" class="form-label">Languages</label>
                <label class="form-label">{{ resume.language }}</label>
            </div>
        </div>

        <div class="col-md-8">
            <div class="mb-3">
                <label for="content" class="form-label">Meta</label>
                <label class="form-label">{{ resume.meta }}</label>
            </div>
            <div class="mb-3">
              <label for="education" class="form-label">Education</label>
              <label class="form-label">{{ resume.education }}</label>
            </div>
            <div class="mb-3">
              <label for="job_exp" class="form-label">Job experience</label>
              <label class="form-label">{{ resume.job_exp }}</label>
            </div>
            <div class="mb-3">
                <label for="skills" class="form-label">Skills</label>
                <label class="form-label">{{ resume.skills }}</label>
            </div>
            <div class="mb-3">
              <label for="skills" class="form-label">Addition information</label>
              <label class="form-label">{{ resume.add_information }}</label>
            </div>
        </div>
    </div>
</div>

<div class="mt-3">
    <a href="/" class="btn btn-primary">Назад</a>
</div>
{% endblock %}